@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: hsl(260, 20%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.headline {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.25rem;
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.headline svg {
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
}
.headline .seh {
  font-size: 2.5rem;
  font-weight: 100;
  fill: rgb(255, 174, 0);
  opacity: 0;
  animation: fadeIn 4s forwards 1s;
}
.headline .new-year {
  font-size: 3rem;
  font-weight: 100;
  stroke-width: 0.2px;
  stroke: white;
  fill: transparent;
  stroke-dasharray: 400;
  opacity: 0;
  animation: revealText 5s forwards 1s;
}

.fireworks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.particle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.particle__item {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  transform: translateY(0);
  animation: fireworks;
  animation-timing-function: cubic-bezier(0.69, 0.38, 0.82, 0.46);
  animation-fill-mode: forwards;
}

@keyframes fireworks {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  60% {
    transform: translateY(5vh) scaleY(10);
    opacity: 1;
  }
  90% {
    transform: translateY(10vh) scaleY(3);
    opacity: 1;
  }
  100% {
    transform: translateY(15vh) scaleY(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes revealText {
  0% {
    stroke-dashoffset: 400;
    fill: transparent;
    opacity: 0;
  }
  50% {
    stroke-dashoffset: 800;
    fill: transparent;
    stroke-opacity: 1;
  }
  100% {
    stroke-dashoffset: 800;
    fill: white;
    stroke-opacity: 0;
    opacity: 1;
  }
}